.toolbar-panel {
	background: #fff;
	box-shadow: -1px 1px 4px 0 #1c80ab54;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	position: fixed;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
}
